body {
	font-family: Helvetica, Arial;
}

h1 {
	font-size: 1em;
}

.page-logo {
	display: block;
}

.page-logo img {
	border: none;
	width: 7em;
	height: 7em;
}

section {
	width: 80%;
	text-align: center;	
	margin: auto;
}

#randomShow {
	display: block;
	text-transform: capitalize;
	font-size: 3.2em;
	margin: 0.5em 0;
}

#showTweet {
	text-align: right;
}