body {
	font-family: Helvetica, Arial;
}

h1 {
	font-size: 1em;
}

.page-logo {
	display: block;
}

.button {
	display: inline-block;
    background-color: #fff;
    border: 2px solid #000;
    padding: 15px 62px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1em;
    color: #000;
    font-weight: bold;
    font-size: 1.2em;
}

.button:hover {
}

section {
	width: 80%;
	text-align: center;	
	margin: auto;
}

#randomShow {
	display: block;
	text-transform: capitalize;
	font-size: 3.2em;
	margin: 0.5em 0;
	font-family: 'Caveat', cursive;
}

.social-actions {
	height: 2em;
}

#showTweet {
	text-align: right;
}