<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

	<section>

		<div>		
			<span id="randomShow"></span>
		</div>

		<div>
			<a href="/" class="button js-regenerate">
				GENERATE
			</a>			
		</div>
		
		<div class="social-actions">	
			<a id="showTweet"></a>			
		</div>
		
		<div>
			<img src="/images/partridge.png" alt="Alan at his finest" />
		</div>

	</section>
	
	<!-- Scripts separate during development -->	
	<script src="https://platform.twitter.com/widgets.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/lodash/4.6.1/lodash.min.js"></script>
	<script src="/scripts/app.js"></script>

</body>
</html>